<!DOCTYPE html>
<html>
  <head>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/bulma.min.css' %}" type="text/css" media="all" />
    <link rel="icon" href="{%static 'icon.png'%}" type="image/png" />
    <link rel="stylesheet" href="{%static 'iconfont/material-icons.css' %}" type="text/css" media="all" />
    <style>
      @font-face {
        src: url('{%static "css/Tangerine-Regular.ttf"%}');
        font-family: Tangerine;
      }
    </style>
    <!--link rel="stylesheet" href="{%static 'css/general.css' %}" type="text/css" media="allall-->
    <link rel="stylesheet" href="{%static 'css/style.css' %}" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width,height=device-height">
    <title>Notes</title>
  </head>
  <body>
    <header>
      <div class="header-inner-div">
        <div class="img-bg">
          <img src="{%static 'images/QNlogo.png' %}">
        </div>
        <p class="name-first">Quick</p>
        <p class="name-second">Notes</p>
      </div>
      <a class="circle-btn" href="{%url 'create'%}"><i class="material-icons">add</i></a>
      <div style="text-align:center; color:white">
        <h3>Easy and quick</h3>
        <h4>notes keeping.</h4>
      </div>
    </header>
    <div class="header-under"></div>
    <main>
      <span class="tangerine welcome">Welcome!</span>
      <!--div class="main-img-container">
        <img src="18915856.jpg" width="100%" height="100%">
      </div>-->
      <div class='content-container'>
        <p>Ever had an idea or a thought pop up in your mind suddenly? You may need to write that down quickly else you forget. But what if you don't have a pen and a paper to do so? Now that's where Quick Notes come in! </p>
        <p>You have definitely come to the right place.</p>
      </div>
      <section class="mid linbg">
        <div class="tangerine title">Features</div>
        <ul>
          <li>• Quick creation of notes anonymously.</li>
          <li>• Tired of signups and logins? No signup nor login required.</li>
          <li>• Set unique passwords for each note you create or create without a password for general viewing.</li>
        </ul>
      </section>
      <br/>
      <div class="other">
        <p>Let's get started!</p>
        <a class="button-flat linbg" href="{%url 'create'%}"><i class="material-icons">add</i><span>Create</span></a>
      </div>
      <button class="floating-btn"><a class="material-icons" href="{%url 'create'%}">add</a></button>
      <br/>
    </main>
    <footer class="linbg">
      <div class="footer-header tangerine">Contact Me</div>
      <div>By Francis Ali</div>
      <ul>
        <li>Mail: <a href="mailto:francisali693@gmail.com">francisali693@gmail.com</a></li>
        
        <li class="other-links tangerine">Social Media</li>
        <li>X (formerly Twitter): <a href="https://twitter.com/IlaSicnarf">@IlaSicnarf</a></li>
        <li>LinkedIn: <a href="www.linkedin.com/in/francis-ali-b95880190">www.linkedin.com/in/francis-ali-b95880190</a></li>
      </ul>
      <br/>
    </footer>
  </body>
</html>
